<!-- templates/portfolio/base.html -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'portfolio_home' %}">Portfolio</a></h1>
        <nav>
            <a href="{% url 'licenciaturas' %}">Licenciaturas</a>
            <a href="{% url 'ucs' %}">Unidades Curriculares</a>
            <a href="{% url 'tecnologias' %}">Tecnologias</a>
            <a href="{% url 'projetos' %}">Projetos</a>
            <a href="{% url 'competencias' %}">Competências</a>
            <a href="{% url 'formacoes' %}">Formações</a>
            <a href="{% url 'making_of' %}">Making Of</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
        <a href="{% url 'cursos' %}" class="escola-link">Escola</a>
    </footer>

</body>
</html>
