<!-- templates/escola/base.html -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>
    <!-- link para ficheiro styles.css com regras de estilização -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'escola/styles.css' %}">

    <!-- ... -->
</head>
<body>
    <header>
        <h1>Escola</h1>
        <nav>
            <a href="{% url 'cursos' %}">Cursos</a>
            <a href="{% url 'professores' %}">Professores</a>
            <a href="{% url 'alunos' %}">Alunos</a>
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>