<!-- templates/escola/cursos.html -->    

{% extends "escola/base.html" %}
    
{% block content %}
<h2>Cursos</h2>

<section>
    {% for curso in cursos %}
    <article>
    <!-- cada curso é um article, 
     com um header com o nome do curso e do professor, 
     e uma section com a lista de cursos-->
        <header>
            <h3>{{ curso.nome }}</h3>
            <img src="{{ curso.imagem.url }}" alt="Imagem do logotipo {{ curso.imagem.name }}">
            <p>Professor: {{ curso.professor.nome }}</p>
        </header>

        <section>
            <h4>Alunos</h4>
            <ul>
                {% for aluno in curso.alunos.all %}
                    <li>{{ aluno.nome }}</li>
                {% empty %}
                    <li>Sem alunos inscritos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}