<!-- templates/escola/curso.html -->

{% extends "escola/base.html" %}

{% block content %}
<article>
    <header>
        <h2>{{ curso.nome }}</h2>
        <img src="{{ curso.imagem.url }}" alt="Imagem do logotipo {{ curso.imagem.name }}">
        <p>Professor: {{ curso.professor.nome }}</p>
    </header>

    <section>
        <h4>Alunos</h4>
        <ul>
            {% for aluno in curso.alunos.all %}
                <li>{{ aluno.nome }}</li>
            {% empty %}
                <li>Sem alunos inscritos</li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}
